{% extends 'base.html' %}
{% load i18n  %}

{% block title %}Main{% endblock title %}
{% block body_class %}main{% endblock body_class %}

{% block main %}
    <div class="col-12 col-lg-4 py-3">
        <h2>Where can I get some?</h2>
        {% blocktranslate %}
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
        alteration in some form, by injected humour, or randomised words which don't look even slightly
        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything
        embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
        repeat
        predefined chunks as necessary, making this the first true generator on the Internet. It uses a
        dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
        generate
        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
        repetition,
        injected humour, or non-characteristic words etc.
    {% endblocktranslate %}
    </div>
    <div class="col-12 col-lg-4 py-3">
        <h2>Where does it come from?</h2>

        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original
        form, accompanied by English versions from the 1914 translation by H. Rackham.
    </div>
    <div class="col-12 col-lg-4 py-3">
        <h2>What is Lorem Ipsum?</h2>

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
    </div>
    <div class="col-12 col-lg-12 py-3">
        <h2 style="text-align: center; margin: 0 auto;">Main text</h2>
    </div>


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis lorem vel felis vestibulum pellentesque.
    Aenean magna dolor, feugiat ac dolor a, efficitur mattis est. Donec in vulputate felis, eget laoreet nisi. Nam
    lacus felis, convallis nec odio in, finibus convallis purus. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Morbi semper lacus lacus, vitae
    dapibus lacus suscipit ac.

    Fusce rutrum viverra quam, in dignissim dui scelerisque eu. Morbi eget justo hendrerit, tincidunt elit eget,
    posuere ligula. Mauris volutpat tempus tellus luctus lobortis. Vivamus tempus urna eu dapibus lacinia. Aenean
    risus lacus, mollis vel feugiat nec, accumsan non ipsum. Duis at hendrerit erat. Donec tincidunt dui in varius
    mattis. Sed pulvinar tristique eros et imperdiet.

    Proin id commodo lorem. Donec ut dui lorem. Etiam ornare congue pharetra. Nullam auctor erat vel massa accumsan,
    in convallis tellus semper. Donec posuere maximus erat malesuada dictum. Vivamus ullamcorper tempor suscipit.
    Sed convallis enim nec justo fringilla egestas.

    Aliquam a vestibulum lectus. Quisque sollicitudin sollicitudin neque. Praesent non faucibus elit. Aenean
    pellentesque id orci vel efficitur. Fusce porta scelerisque dolor. Nulla facilisi. Duis pretium tortor vel arcu
    ultricies vestibulum. Nulla facilisi. Praesent nec enim dolor. Nam sed ultricies mi. Aenean viverra feugiat
    mauris, a sagittis enim sodales vel. Nunc libero neque, tincidunt ac efficitur nec, dictum at nibh. Curabitur
    porttitor sapien id lacinia faucibus. Sed in velit ut magna ullamcorper vulputate sit amet sit amet elit.

    Integer venenatis aliquet lectus, sed imperdiet erat elementum at. Pellentesque nec ipsum porttitor, fringilla
    nulla ac, commodo enim. Etiam velit dui, luctus sed diam vitae, cursus posuere ex. Quisque sem massa,
    ullamcorper nec odio vehicula, suscipit interdum ligula. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Vestibulum justo est, consequat ac gravida sit amet, lacinia a massa. Mauris dictum purus ultricies
    urna laoreet laoreet. Fusce ut nibh commodo, porttitor massa eu, luctus turpis. Donec ac lorem vitae mi volutpat
    tincidunt vel sit amet odio. Aliquam tempor augue et libero semper, quis commodo quam gravida. Mauris enim ante,
    rhoncus in arcu sed, tempus tristique neque. Maecenas dapibus vulputate turpis. Morbi vel ex a dui condimentum
    porttitor ut non neque.
    </div>
{% endblock main %}