{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}Main{% endblock title %}
{% block body_class %}main{% endblock body_class %}

{% block main %}

    <section class="main_preview">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="preview_items">
                        <div class="border-frame">
                            <h1>Nectar</h1>
                            <div class="subtitle">True Ukrainian treasure: impeccable honey quality from Nectar. An
                                ecological
                                sanctuary, inspired by nature. No chemicals, just the heartfelt labor of experienced
                                retirees
                                with over 25 years of expertise. A home apiary, a true family legacy.
                            </div>
                            <button class="order-btn">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}