{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock title %}
{% block body_class %}products{% endblock body_class %}

{% block main %}
    <h2 class="text-center mt-3">All products</h2>
    <div class="col-12">
        <p>
            <a href="{% url 'products_to_csv' %}">Export to csv</a>
        </p>
        <p>
            <a href="{% url 'products_to_pdf' %}">Export to pdf</a>
        </p>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for product in products %}
            <div class="col d-flex">
                <div class="card flex-fill">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid d-block" alt="..."
                             style="max-height: 200px; object-fit: contain;">
                    {% else %}
                        <img src="{% static "images/logo-design.png" %}" class="card-img-top img-fluid d-block" alt="product"
                             style="max-height: 200px; object-fit: contain;">

                    {% endif %}

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:35 }}</p>
                        <p class="card-price">{{ product.price }}$</p>
                        <a href="#" class="btn btn-success mt-auto">Buy it now!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}