{% extends "base.html" %}
{% load static %}
{% load currency_tags %}

{% block title %}Products{% endblock title %}
{% block body_class %}products{% endblock body_class %}

{% block main %}
    <h2 class="text-center mt-3">All products</h2>
    <div class="text-center py-3">
        <a href="{% url 'products_to_csv' %}" class="btn btn-primary">Export to csv</a>
        <a href="{% url 'products_to_pdf' %}" class="btn btn-primary">Export to pdf</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">

        {% for product in products %}
            <div class="col d-flex">
                <div class="card flex-fill">
                    <a href="{% url 'product' product.id %}">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid d-block p-3" alt="product"
                                 style="max-height: 200px; object-fit: contain;">
                        {% else %}
                            <img src="{% static "images/no-images.png" %}" class="card-img-top img-fluid d-block p-3"
                                 alt="product"
                                 style="max-height: 200px; object-fit: contain;">
                        {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:35 }}</p>
                        <p class="card-price">{{ product.price }}$
                            ({{ product.price|multiply_price_by_usd_rate }}₴)</p>
                        {% if product.products.exists %}
                            <p>Including:</p>
                            {% for sub in product.products.iterator %}
                                <div class="d-inline-flex flex-column rounded border p-2 m-1 sub-product">
                                    <p>{{ sub.name }}</p>
                                    {% if sub.image %}
                                        <figure class="text-center d-inline">
                                            <img src="{{ sub.image.url }}"
                                                 class="product-img p-1"
                                                 alt="{{ product.name }}">
                                        </figure>
                                    {% else %}
                                        <figure class="text-center d-inline">
                                            <img src="{% static "images/no-images.png" %}"
                                                 class="product-img p-1"
                                                 alt="{{ product.name }}">
                                        </figure>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <form method="post" action="{% url 'wish_list_action' 'add' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id"
                                               value="{{ product.id }}">
                                        <input type="submit" value="Додати до бажань"
                                               class="btn btn-warning w-100">
                                    </form>
                                </div>
                                <div class="col">
                                    <form method="post" action="{% url 'order_action' 'add' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id"
                                               value="{{ product.id }}">
                                        <input type="submit" value="Додати до кошику"
                                               class="btn btn-success w-100">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}