<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My feedbacks</h1>

{% for feedback in feedbacks %}
    <p>
        {{ feedback.user }} - {{ feedback.text }} - {{ feedback.rating }}
    </p>
{% endfor %}

<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Save">
    </form>
    {% for name, error in form.errors.items %}
        <p>{{ name.title }} {{ error }}</p>
    {% endfor %}
</div>
</body>
</html>
