{% extends "base.html" %}

{% block title %}Feedbacks{% endblock title %}
{% block body_class %}feedbacks{% endblock body_class%}

{% block main %}
    <div class="col-12 col-lg-6 offset-lg-3 py-3">
        <h2>All feedbacks</h2>
        <p>Сlick on the name to see 🌝</p>
        <ul class="list-group py-3">
            {% for feedback in object_list %}
                <li class="list-group-item">
                    <span class="d-flex justify-content-between" data-bs-toggle="collapse"
                          href="#collapse{{ feedback.id }}">
                        <span>{{ feedback.user.username }}: give {{ feedback.rating }} 💫</span>
                        <span>{{ feedback.created_at }}</span>
                    </span>
                    <div class="collapse" id="collapse{{ feedback.id }}">
                        {{ feedback.text }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}